---
layout: page
title: Categories
header: Posts By Category
group: navigation
noshare: true
---
{% include JB/setup %}
<div class="well well-sm">
<ul class="nav nav-pills">
  {% assign categories_list = site.categories %}
  {% include JB/categories_list %}
</ul>
</div>

{% for category in site.categories %} 
<div class="well well-sm">
  <h3 id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h3>
  <ul class="icons-ul">
    {% assign pages_list = category[1] %}  
    {% include JB/pages_list %}
  </ul>
</div>
{% endfor %}

