@import url('dcc-base.css');

.dcc-page, .dcc-page h2, .dcc-page h3, .dcc-page h4, .dcc-page h5  {
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

.dcc-page h1 {
	font-family: DuvallNormal;
	text-align: center;
}

.dcc-page .list-group-item {
    padding-top: 5px;
    padding-bottom: 5px;
}
