@import url('dcc-base.css');

.dcc-spell > h1 {
	font-family: DuvallNormal; 
	text-align: center;
}

.dcc-spell > .content, .dcc-spell > .content > h3 {
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

ul.spell-list li a {
  padding: 5px;
  font-family: DuvallNormal;
}

ul.spell-list li.disabled > a:hover {
  cursor: default;
}

ul.spell-list li.disabled > a > i {
  color: #000;
}

.dcc-spell .list-group-item {
    padding-top: 5px;
    padding-bottom: 5px;
}
