<a href="https://plus.google.com/share?url={{site.production_url}}{{page.url}}" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><span class="icon-google-plus-sign"></span></a>
<a href="https://twitter.com/share?url={{site.production_url}}{{page.url}}"><span class="icon-twitter-sign"></span></a>
<a href="https://www.facebook.com/sharer/sharer.php?u={{site.production_url}}{{page.url}}" target="_blank"><span class="icon-facebook-sign"></a>
